.my-card-list {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    background: url(https://www.wallpaperflare.com/static/392/214/378/digital-art-artwork-interior-room-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-right: 100px ;
    padding-left: 100px;
    padding-bottom: 50px;
}

.card-list-top {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
}

.delete-card-button {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.user-card-container {
    margin-left: 30px;
    margin-top: 40px;
}

.search-box {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

/* .search-box:hover > .my-cards-search-button {
  background: white;
  color : #2f3640;
} */

.my-cards-search-button {
    /* color: white; */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.4s; */
}

.search-input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.search-box:hover > .search-input {
    width: 150px;
    padding: 0 6px;
}
}